<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hotel Web Page! | </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap -->
    <link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <%= stylesheet_link_tag '/vendors/bootstrap/dist/css/bootstrap.min.css' %>
    <!-- Font Awesome -->
    <%= stylesheet_link_tag '/vendors/font-awesome/css/font-awesome.min.css' %>
    <!-- jQuery custom content scroller -->
    <%= stylesheet_link_tag '/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css' %>
    <!-- iCheck -->
    <%= stylesheet_link_tag '/vendors/iCheck/skins/flat/green.css' %>
    <!-- Datatables -->
    <%= stylesheet_link_tag '/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %>
    <!-- bootstrap-daterangepicker -->
    <%= stylesheet_link_tag '/vendors/bootstrap-daterangepicker/daterangepicker.css' %>

        <!-- Custom Theme Style -->
    <%= stylesheet_link_tag '/build/css/custom.css' %>
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <%= render "layouts/admins/header" %>

            <!-- top navigation -->
            <%= render "layouts/admins/top_nav" %>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <%= render "layouts/admins/alert" %>
                <%= yield %>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <%= render "layouts/admins/footer" %>
            <!-- /footer content -->
        </div>
    </div>
    
    <!-- jQuery -->
    <%= javascript_include_tag "/vendors/jquery/dist/jquery.min.js" %>
    <!-- Bootstrap -->
    <%= javascript_include_tag "/vendors/bootstrap/dist/js/bootstrap.bundle.min.js" %>
    <!-- FastClick -->
    <%= javascript_include_tag "/vendors/fastclick/lib/fastclick.js" %>
    <!-- jQuery custom content scroller -->
    <%= javascript_include_tag "/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js" %>
    <!-- iCheck -->
    <%= javascript_include_tag "/vendors/iCheck/icheck.min.js" %>
    <!-- Datatables -->
    <%= javascript_include_tag "/vendors/datatables.net/js/jquery.dataTables.min.js" %>
    <%= javascript_include_tag "/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" %>
    <!-- bootstrap-daterangepicker -->
    <%= javascript_include_tag "/vendors/moment/min/moment.min.js" %>
    <%= javascript_include_tag "/vendors/bootstrap-daterangepicker/daterangepicker.js" %>
    <!-- bootstrap-wysiwyg -->
    <%= javascript_include_tag "/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js" %>
    <%= javascript_include_tag "/vendors/jquery.hotkeys/jquery.hotkeys.js" %>
    <%= javascript_include_tag "/vendors/google-code-prettify/src/prettify.js" %>
    <!-- jQuery Tags Input -->

    <!-- Custom Theme Scripts -->
    <%= javascript_include_tag "/build/js/custom.js" %>
</body>

</html>
