<!DOCTYPE html>
<html>
  <head>
    <title>Hotels</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <header>
      <nav>
        <ul>
        <% if admin_signed_in? %>
        <li>管理者 <%= current_admin.email%></li>

            <li><%= link_to "ログアウト admin", destroy_admin_session_path, method: :delete %></li>
        <% end %>
        <% if user_signed_in? %>
        <li>ユーザー <%= current_user.email%></li>
        <li><%= link_to "ログアウト user", destroy_user_session_path, method: :delete %></li>
        <% end %>
          <% if user_signed_in? || admin_signed_in? %>
          <% else %>
            <li>ゲストユーザー</li>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン user", new_user_session_path %></li>
            <li><%= link_to "新規登録admin", new_admin_registration_path %></li>
            <li><%= link_to "ログイン admin", new_admin_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
